<!DOCTYPE html>
<html>
<head>
  <title>BodegaCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header>
  <nav>
   <ul>
	   <li><%=link_to "Bodega Cats", bodega_cats_path %></a></li>
	   <li><%=link_to "Add a cat!", new_bodega_cat_path %></a></li>
   </ul>

  </nav>
 </header>

<%= yield %>

</body>
</html>
